DATABASE_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/DATABASE?sslmode=require"
SHADOW_DATABASE_URL="postgresql://USER:PASSWORD@SHADOW_HOST/SHADOW_DATABASE?sslmode=require"
PORT=3001
WEB_ORIGIN="http://localhost:3000"
NODE_ENV="development"
